@import "tailwindcss";

@layer base {
  body {
    @apply bg-gray-900 text-gray-100;
  }
}

canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
